
*{margin: 0; padding: 0;}
h1 {font-size: 35px;}
h2 {font-size: 24px;}
p {font-size: 18px;}
img {width: 200px; height: 200px;}

/*INDEX*/

/*HEADER*/

header {
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu {
    background-color:black;
    display: flex;
}

header img {
    width: 300px; 
    height: 80px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0px 0px 0px 250px;
}

header nav ul li {
    margin: 15px;
}

header nav ul li a {
    text-decoration: none; 
    color: whitesmoke; 
    font-size: 20px; 
    font-weight: 400;
    transition: 3s;
}

.collapse .navbar-collapse{
    display: flex;
    justify-content: end;
}


/*MAIN*/

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.651)), url("../img/ciudadfondo.jpg"); 
    background-position: center; 
    background-size: cover; 
    background-attachment: fixed;
    padding: 200px 0px 200px 0px;
    display:flex; 
    flex-direction: column;
    align-items: center;
}
.hero h1 {
    font-size: 55px; 
    color: white; 
    font-weight: 200;
    text-align: center;
    display: flex; 
}

.hero p {
    color: whitesmoke; 
    font-size: 22px;
    font-weight: 100;
    font-style: italic;
    padding: 25px 150px 10px 150px;
    text-align: center;
}

.servicios div{
    margin: 25px 0px 60px 0px;
}

.servicios h2 {
    text-align: center; 
    font-size: 40px; 
    margin: 60px 0px 45px 0px;
}
.servicios div div img {
    width: 300px; 
    height: 300px; 
    margin: 0px 0px 30px 0px;
}
.servicios div div {
    width: 300px; 
    height: 450px;
    margin: 25px; 
    text-align:center;
    align-items: center;
    transition: 2s;
}

.servicios > div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.servicios div div a {
    text-decoration: none; 
    color: whitesmoke; 
    background-color: black; 
    padding: 6px 15px 6px 15px;
    transition: 2s;
    transition-timing-function: ease-in;
}

.proyectos {
    background-color: black;
}

.proyectos .imagenes-proyectos{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.proyectos h2 {
    text-align: center; 
    font-size: 40px; 
    color: whitesmoke;
    padding: 50px 0px 50px 0px;
}

.proyectos div img {
    width: 400px; 
    height: 400px; 
    flex-wrap: wrap;
    transition: 2s;
}

.proyectos .mas {
    text-decoration: none; 
    font-size: 24px; 
    text-align: center;
    color: whitesmoke; 
    margin: 30px 0px 60px 0px;
    padding: 0px 0px 60px 0px;
}

.proyectos .mas h3 {
    text-decoration: none; 
    font-size: 24px; 
    color: whitesmoke; 
    transition: 1s;
}

/*FOOTER*/

footer {
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    margin: 20px 0px 40px 0px;
}

footer div{
    display: flex;
    flex-wrap: wrap;
}

footer div img {
    width: 250px; 
    height: 250px;
}

footer div ul li{
    padding: 5px 0px 5px 0px; 
}

footer div ul{
    padding: 30px 0px 20px 0px; 
}

footer div ul li a {
    color: black;
    font-size: 18px;
    transition: 1s;
}

footer div iframe {
    width: 250px; 
    height: 250px;
}



/*PAGINA SERVICIOS*/

header .menu {
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicios-todos   {
    margin: 60px 0px 60px 0px;
    width: 1300px;
}

.servicio-uno {
    display: flex;
    justify-content: space-evenly;
}

.servicio-dos {
    display: flex;
    justify-content: space-evenly;
}

.servicio-tres {
    display: flex;
    justify-content: space-evenly;
}

.servicios-todos div a {
    text-decoration: none; 
    color: whitesmoke; 
    background-color: black; 
    padding: 6px 15px 6px 15px;
    transition: 1s;
}

.servicios-todos h2 {
    color: black; 
    font-size: 35px;
}

.servicios-todos p {
    color: rgb(68, 64, 64); 
    font-size: 18px;
    margin: 30px 0px 40px 0px;
}

.servicios-todos img {
    width: 400px;
    height: 400px;
}

.servicio-uno div {
    width: 300px; 
    margin: 25px; 
    text-align:left;
}

.servicio-dos div {
    width: 300px; 
    margin: 25px 50px 25px 80px; 
    text-align:left; 
}

.servicio-tres div {
    width: 300px; 
    height: 450px; 
    margin: 25px; 
    text-align:left; 
}



/*PAGINA PROYECTOS*/


.pagina-proyectos h1 {
    font-size: 60px; 
    font-weight: 300; 
    text-align: center;
    margin: 45px 0px 60px 0px;
}

.pagina-proyectos div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 1300px;
}

.grid-proyectos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 410px;
    gap: 10px; 
}

.grid-proyectos div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.newsletter .email-label{
    text-align: center;
    padding: 10px 15px 10px 15px;
}

.newsletter .email-label input{
    text-align: left;
    padding: 5px 15px 5px 15px;
}


/*PAGINA NOSOTROS*/

.nosotros h1  {
    font-size: 60px; 
    font-weight: 300; 
    text-align: center;
    margin: 45px 0px 0px 0px;
}
.nosotros p {
    font-size: 22px; 
    font-weight: 200;
    font-style: oblique; 
    text-align: center;
    padding: 20px 90px 70px 90px;
}



/*PAGINA CONTACTO*/

.seccion-contacto {
    width: 1250px;
    margin: 80px 0px 180px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.seccion-contacto .seccion-contacto-izq {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px 80px 0px 80px;
}

.seccion-contacto div { 
    text-align:left; 
    display: flex;
}

.seccion-contacto div div form div {
    display: flex;
    flex-direction: column;
    padding: 10px 5px 10px 5px;
}

.seccion-contacto .enviar input {
    text-decoration: none; 
    color: whitesmoke; 
    background-color: black;
    font-size: 18px; 
    margin: 15px 0px 0px 0px;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    transition: 1s;
}

.seccion-contacto img {
    width: 500px;
    height: 500px;
}

.seccion-contacto-izq .col{
    margin: 20px 0px 25px 0px;
}

.seccion-contacto-izq .btn{
    margin: 35px 0px 0px 0px;
    padding: 5px 30px 5px 30px;
}


/*----------------------MEDIA QUERIES-----------------*/

/*MEDIA QUERIES EN INDEX*/

/*En la img del nav*/
@media screen and (max-width:930px){
    header nav img{
        width: 200px; 
        height: 50px;
    }
}

@media screen and (max-width:1150px){
    header nav ul{
        margin: 0px 0px 0px 80px;;
    }
}


/*En el h1 y parrafo del Hero*/

@media screen and (max-width:930px){
    .hero h1{
        font-size: 45px;
        text-align: center;
    }
}

@media screen and (max-width:800px){
    .hero p{
        padding: 25px 50px 10px 50px;
    }
}

@media screen and (max-width:400px){
    .hero h1{
        font-size: 45px;
        text-align: left;
        padding: 5px 20px 10px 20px;
    }
}

@media screen and (max-width:400px){
    .hero{
        padding: 100px 0px 100px 0px;
    }
}

@media screen and (max-width:400px){
    .hero p{
        font-size: 18px;
        line-height: 35px;
        text-align: left;
        padding: 25px 20px 10px 20px;
    }
}


/*En la sección proyectos en el Index*/

@media screen and (max-width:400px){
    .proyectos div img{
        width: 260px; 
        height: 260px;
    }
}

/*En el FOOTER*/

@media screen and (max-width:985px){
    footer div img {
        width: 200px; 
        height: 200px;
    }
}

@media screen and (max-width:985px){
footer div iframe {
    width: 220px; 
    height: 220px;
    }
}

@media screen and (max-width:800px){
    footer div img {
        width: 150px; 
        height: 150px;
    }
}

@media screen and (max-width:800px){
    footer div iframe {
        width: 150px; 
        height: 150px;
        }
    }

@media screen and (max-width:800px){
    footer div ul li a {
        font-size: 16px;
    }
}

@media screen and (max-width:800px){
    footer div ul li{
        padding: 0px;
    }
}

@media screen and (max-width:655px){
    footer div ul li a {
        font-size: 16px;
    }
}

@media screen and (max-width:450px){
    footer{
    flex-direction: column;
    align-items: center;
        }
}

@media screen and (max-width:450px){
    footer div img{
        width: 220px;
        height: 220px;
        }
}

@media screen and (max-width:450px){
    footer div iframe{
        width: 300px;
        height: 180px;
        }
}

@media screen and (max-width:450px){
    footer div ul{
        padding: 30px 5px 30px 5px;
        }
}

@media screen and (max-width:450px){
    footer div ul li{
        padding: 5px 100px 5px 0px;
        font-weight: 600;
        text-align: left;
        }
}


/*MEDIA QUERIES EN PAGINA PROYECTOS*/

@media screen and (max-width:991px) {
    .newsletter .h2{
        text-align: center;
        font-size: 30px;
        padding: 0px 10px 0px 10px;
    }    
}

@media screen and (max-width:991px) {
    .newsletter .p{
        text-align: center;
        font-size: 16px;
    }    
}

@media screen and (max-width: 890px){
    .grid-proyectos{
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 350px;
    }
}

@media screen and (max-width:640px) {
    .grid-proyectos img{ 
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 500px;
    }
}

@media screen and (max-width:615px){
    .grid-proyectos{ 
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 260px;
    }   
}

@media screen and (max-width:600px) {
    .newsletter .h2{
        text-align: center;
        font-size: 20px;
        padding: 0px 10px 0px 10px;
    }    
}

@media screen and (max-width:600px) {
    .newsletter .p{
        text-align: center;
        font-size: 14px;
    }    
}

@media screen and (max-width: 590px){
    .grid-proyectos{
        grid-template-columns: repeat (1fr);
        grid-auto-rows: 350px;
    }
    .grid-item{
        grid-column: span 1;
        grid-column: span 2;
    }
}

@media screen and (max-width:450px) {
    .grid-proyectos{ 
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 300px;
    }
}

@media screen and (max-width:200px) {
    .grid-proyectos{ 
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 500px;
    }
}



/*Media Queries en PAGINA NOSOTROS*/


@media screen and (max-width:1190px) {
    .carousel-inner{
        width: 600px;
        height: 300px;
    }    
}


/*Media Queries en PAGINA SERVICIOS*/









/*------------TRANSICIONES Y ANIMACIONES------------*/

/*------ANIMACIONES EN SECCIONES GENERALES PARA TODAS LAS PAGINAS COMO NAV Y FOOTER------*/

/*ANIMACIÓN EN EL HEADER NAV*/

header nav ul li a:hover{
    color: rgba(221, 221, 221, 0.479);
    text-decoration: underline;
}

/*ANIMACIONES EN EL FOOTER*/

footer div ul li a:hover{
    color: rgb(160, 160, 160);
}

/*ANIMACION EN ÍCONOS SOCIALES DEL FOOTER*/

.mapredes div img:hover{
    transform: scale(1.1);
}




/*---------INDEX-------------*/

/*ANIMACION EN LAS CAJITAS DE CADA SERVICIO --- SECCION INDEX*/

.servicios div div:hover{
    transform: scale(1.05);
}

/*ANIMACIÓN DE LOS BOTONES DE SERVICIOS -- DE LA SECCIÓN SERVICIOS EN EL INDEX*/

.servicios div div a:hover{
    background-color: white;
    color: black;
    border: 2px solid;
    border-color: black;
}

/*ANIMACIÓN EN LAS TRES IMÁGENES DE LA SECCIÓN PROYECTO EN EL INDEX*/

.proyectos div img:hover{
    transform: rotateY(150deg);
}

.proyectos .mas h3:hover{
    transform: scale(1.2);
}




/*------------------------PAGINA SERVICIOS-----------------*/

/*Animación en los botones de cada uno de los servicios*/

.servicios-todos div a:hover{
    background-color: white;
    color: black;
    border: 2px solid;
    border-color: black;
}



/*------------------------PAGINA PROYECTOS-----------------*/

/*Animación en cada imágen de los proyectos*/

.grid-proyectos div img:hover{
    transform: scale(1.04);
}


/*--------------------PAGINA CONTACTO----------------------*/

.seccion-contacto .enviar input:hover{
    background-color: rgba(41, 41, 41, 0.884);
    border: 2px solid;
    border-color:rgba(97, 97, 97, 0.336);

}





/*------------------------BOOTSTRAP-----------------------*/

/*Navbar GENERAL - Aplicado en el HEADER en todas las páginas - Modificación del color de fondo del navbar de bootstrap en el HTML. La referencia es navbar-dark. Aclaraciones de las modificaciones del navbar hechas en el index.html*/

/*INDEX*/
/*Cards de servicios en la sección de servicios en el Index*/

.servicios div div {
    width: 300px; 
    height: 450px;
    margin: 25px; 
    text-align:center;
    align-items: center;
    transition: 2s;
}

.servicios > div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.servicios div div a {
    text-decoration: none; 
    color: whitesmoke; 
    background-color: black; 
    padding: 6px 15px 6px 15px;
    transition: 2s;
    transition-timing-function: ease-in;
}



/*PAGINA SERVICIOS*/
/*Acordeon de preguntas frecuentes en página servicios*/

.preguntas-frecuentes h2{
    text-align: center;
    color: black;
    font-size: 40px;
    padding: 80px 0px 10px 0px;
}

.accordion-flush{
    margin: 70px 100px 120px 180px;
    padding: 25px;
    background-color: rgb(187, 187, 187);
}

/*PAGINA PROYECTOS*/
/*BOOTSTRAP sección newsletter en página de proyectos abajo d ela galeria de fotos*/

.newsletter {
    background-color: black;
    margin: 0px 0px 50px 0px;
    padding: 50px 0px 80px 0px;
}

.newsletter h2{
    text-align: center;
    color: whitesmoke;
    font-size: 40px;
    padding: 80px 0px 10px 0px;
}

.newsletter p{
    text-align: center;
    color: whitesmoke;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 2px;
}

.newsletter .mb-3{
    align-items: center;
    padding: 0px 350px 0px 350px;
}

.newsletter .suscribirme{
    text-align: center;
}

/*PAGINA NOSOTROS*/
/*Bootstrap Carrusel de testimonios en página nosotros*/

.carousel-section{
    align-content: center;
    background-color: rgb(172, 172, 172);
    margin: 30px 0px 60px 0px;
}

.carousel-inner .carousel-item {
    justify-content: center;
    justify-items: center;
}

.carousel-inner img{
    width: 700px;
    height: 400px;
    object-fit: cover;
}

/*PAGINA CONTACTO*/
/*Formulario de contacto de Bootstrap -- También hay modificaciones hechas en html aclaradas en el html*/

.seccion-contacto-izq .col{
    margin: 20px 0px 25px 0px;
}

.seccion-contacto-izq .btn{
    margin: 35px 0px 0px 0px;
    padding: 5px 30px 5px 30px;
}








