

.servicios-todos{
    margin: 60px 0px 60px 0px;
    width: 1300px;
    .servicio-uno{
        display: flex;
        justify-content: space-evenly;
        div{
            width: 300px; 
            margin: 25px; 
            text-align:left;
        }
        div{
            img{
                width: 400px;
                height: 400px;
            }
        }
    }
    .servicio-dos{
        display: flex;
        justify-content: space-evenly;
        div{
            width: 300px; 
            margin: 25px 50px 25px 80px; 
            text-align:left; 
        }
        div{
            img{
                width: 400px;
                height: 400px;
            }
        }
    }
    .servicio-tres{
        display: flex;
        justify-content: space-evenly;
        div{
            width: 300px; 
            height: 450px; 
            margin: 25px; 
            text-align:left; 
        }
        div{
            img{
                width: 400px;
                height: 400px;
            }
        }
    }
    div{
        h2{
            color: black; 
            font-size: 35px;
        }
        p{
            color: rgb(68, 64, 64); 
            font-size: 18px;
            margin: 30px 0px 40px 0px;
        }
        a{
            text-decoration: none; 
            color: whitesmoke; 
            background-color: black; 
            padding: 6px 15px 6px 15px;
            transition: 1s;
            &:hover{  /*ANIMACIONES EN LOS BOTONES DE CADA UNO DE LOS SERVICIOS*/
                background-color: white;
                color: black;
                border: 2px solid;
                border-color: black;
            }
        }
    }
}

/*CLASES DEL ACORDION DE BOOTSTRAP*/

.preguntas-frecuentes{
        h2{
            text-align: center;
            color: black;
            font-size: 40px;
            padding: 80px 0px 10px 0px;
        }
    }

    .accordion-flush{
        margin: 70px 100px 120px 180px;
        padding: 25px;
        background-color: rgb(187, 187, 187);
    }





